/*  rgb(114, 14, 28); */


/* REUSABLE COMPONENTS--------------------------------------------------------------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 1.8em;
    word-spacing: 2;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* HEADINGS------------------------------------------------------------------------------------ */

h1 {
    font-size: 150%;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5em;
}

h2 {
    font-weight: 300;
    text-align: center;
}

h2:after {
    display: block;
    content: ".";
    height: 1px;
    width: 100px;
    border-radius: 50%;
    background-color: #ff2c48;
    ;
    margin-top: 10px;
    margin: 3% auto;
}

h3 {
    font-weight: 300;
}

h2,
h3 {
    color: #555;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-size: 160%;
}

h4,
h5 {
    font-weight: bold;
    text-transform: capitalize;
    color: #ff2844;
}


/* HEADER---------------------------------------------------------------------------------------- */

.header-slides {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    animation: animate 12s ease-in-out infinite;
}

.header-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

@keyframes animate {
    0%,
    100% {
        background-image: url(img/Screenshot_2021-02-08-11-24-01-min-min\ \(1\).png);
    }
    25% {
        background-image: url(img/Screenshot_2021-02-08-11-26-47-min-min.png);
    }
    50% {
        background-image: url(img/Screenshot_2021-02-08-11-40-31-min.png);
    }
    75% {
        background-image: url(../img/Screenshot_2021-02-23-11-00-49-min.png);
    }
}

.nov-text-box {
    padding: 0.9% 0;
    background-color: rgba(124, 124, 124, 0.05);
    border-radius: 1%;
    width: 47%;
    float: left;
    position: absolute;
    margin: 3.9% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.novel {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #ff3b55;
    font-size: 110%;
}

.nov-text-box .drink {
    margin-top: -5px;
    font-size: 80%;
    font-family: sans-serif;
    color: #ff3b55;
}


/* buttons -------------------------------------------------------------------------------------------*/

.nov-text-box a.btn {
    margin-top: 20%;
}

.nov-text-box a:link,
.nov-text-box a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    background-color: #ff2c48;
    border: 1px solid #ff2c48;
    border-radius: 5%;
    color: white;
    transition: border 0.2s, color 0.2s;
}

.nov-text-box .btn:link,
.nov-text-box .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.8s, 0.8s, color 1.0s;
}

.nov-text-box .btn:hover,
.nov-text-box .btn:active {
    background-color: rgb(197, 24, 47);
    border: 1px solid rgb(197, 24, 47);
    color: white;
}


/* NAVIGATION------------------------------------------------------------------------------------*/

.nav {
    height: auto;
    width: 100%;
    background-color: rgb(255, 61, 87);
    box-shadow: 0px 0.5px 5px #1f1f1f;
    position: fixed;
    top: 0;
    z-index: 99999999;
}

.nov-nav {
    width: 87%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 15px 0;
    margin-right: 2rem;
}

.main-nav li {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 20px 0;
    color: white;
    text-decoration: none;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

.main-nav .testor:link,
.main-nav .testor:visited {
    color: #fff;
}

.main-nav .testor:hover,
.main-nav .testor:active {
    color: #fff;
}


/* MOBILE NAV ICON------------------------------------------------------------------------------- */

.mobile-icon {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 180%;
    color: #fff;
    cursor: pointer;
    display: none !important;
}

.link-icon {
    margin-right: 8px;
    font-size: 18px;
    color: #fff;
    display: none !important;
}


/* STICKY NAV------------------------------------------------------------------------------------*/

.sticky {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: rgb(255, 61, 87);
    box-shadow: 0px 0.5px 5px #747474;
    z-index: 9999;
}

.sticky .main-nav {
    padding: 12px 0;
    margin-top: 2px;
    margin-right: 0.3rem;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;
    color: white;
}

.sticky.reserve:link,
.sticky.reserve:visited {
    background-color: rgba(114, 14, 27, 0.788);
    border-radius: 5%;
    border: 1px solid rgba(114, 14, 27, 0.788);
    padding: 15px 5%;
    color: white;
    transition: background-color 0.5s, border 0.5s, color 1.0s;
}

.sticky.reserve:hover,
.sticky.reserve:active {
    background-color: #fff;
    border: 1px solid transparent;
    color: #9e192b;
}


/* logo -----------------------------------------------------------------------------------------*/

.logo {
    height: 40px;
    width: auto;
    border-radius: 50%;
    z-index: 99999999;
}


/* section about--------------------------------------------------------------------------------------*/

.about-ft {
    color: rgb(48, 48, 48);
    padding: 1% 0;
    width: 70%;
    margin-top: 1.5%;
    margin-left: 15%;
}

.about-ft p {
    text-align: center;
}

.section-about {
    padding: 5% 0;
    color: #555;
}

.ft-wrapper {
    border-radius: 3%;
    display: flex;
    width: 90%;
    margin: 5%;
    margin-right: 0;
    margin-top: 7%;
    padding: 2%;
    justify-content: space-between;
}

.ft-wrapper img {
    width: 30%;
    height: 200px;
    border-radius: 4%;
}

.ft-text {
    margin-left: 5%;
    line-height: 1.5em;
    font-size: 94.5%;
    font-weight: 300;
    width: 65%;
    text-align: left;
}

.ft-text2 {
    margin-right: 5%;
    margin-left: 0;
}

.ft-text h3 {
    color: #555;
    font-weight: 400;
    text-align: left;
}

.ft-fixes {
    margin: 3.5% 0;
}


/* SEEMORE LINK----------------------------------------------------------------------------------*/

.see-more-link:link,
.see-more-link:visited {
    color: #ff2844;
    text-decoration: none;
}

.see-more-link:hover,
.see-more-link:active {
    color: #ff435c;
}


/* RESERVATIONS-------------------------------------------------------------------------------------*/

.reservation {
    background-image: url(https://images.unsplash.com/photo-1580657274234-7339717f4541?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hhbXBhZ25lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 0;
    color: #555;
}

.res-today h2 {
    color: #fff;
    font-size: 130%;
    font-weight: 300;
}

.res-today {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.mane {
    background-color: rgba(0, 0, 0, 0.7);
    width: 800px;
    margin: auto;
    padding-bottom: 3%;
    border-radius: 0 0 15px 15px;
}

form {
    padding: 10px;
}


/* #name {
    width: 100%;
    height: 100px;
} */

.name {
    margin-left: 55px;
    margin-top: 20px;
    width: 125px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    outline: none;
}

.firstname {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
}

.lastname {
    position: relative;
    left: 470px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
}

.email {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 510px;
    padding: 0 22px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
}

.code {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 180px;
    padding: 0 22px;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.option {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 15px;
    overflow: hidden;
    outline: none;
}

.option option {
    font-size: 15px;
}

button {
    background-color: #ff435c;
    display: block;
    margin: auto;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 14px 60px;
    cursor: pointer;
    outline: none;
    font-size: 17px;
}


/* Contact Page..................................................................................*/

.contact-section {
    margin: 10% 0;
    padding-top: 5%;
    font-size: 90%;
}

.reserve-box {
    display: flex;
    width: 100%;
}

.r-box {
    width: 25%;
    height: 300px;
    margin-left: 5%;
    border: 1px solid transparent;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 2px #efefef;
    background-color: rgb(248, 248, 248);
    color: #ff2c48;
}

.r-box p {
    text-align: center;
    color: #555555;
}

.r-icon {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    color: #ff2c48;
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: background-color 1.0s, border 0.5s, color 0.5s, box-shadow 0.5s;
}


/* Footer ........................................................................................*/

footer {
    background-color: #1e1e29;
    color: #fff;
    padding: 4% 0;
}

.flex-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-footer-1 {
    width: 30%;
    line-height: 2em;
    text-align: left;
    margin-left: 1%;
}

.flex-footer {
    width: 10%;
    font-size: 90%;
}

.footer-social {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 2%;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.2s, border 0.2s;
}

.footer-social:hover {
    color: #ff2844;
    border: 2px solid #ff2844;
}

.foot-links-1 {
    display: block;
    width: 52%;
    font-weight: bold;
}

.foot-links {
    display: inline-block;
}

.flex-wrapper a:link,
.flex-wrapper a:visited {
    padding: 2px 0 0 0;
    color: white;
    text-decoration: none;
    font-size: 95%;
    border-bottom: 1.5px solid transparent;
    transition: border-bottom 0.2s
}

.flex-wrapper a:hover,
.flex-wrapper a:active {
    border-bottom: 1.5px solid #fff;
}

.copyright {
    display: flex;
    font-size: 80%;
    justify-content: space-around;
}

hr {
    height: 1px;
}