                        /* Big tablet to 1200px */
                        
                        @media only screen and (max-width: 1200px) {
                            /* PORTFOLIO */
                            .mySlides img {
                                height: 60vh;
                                width: 70%;
                                margin-left: 15%;
                            }
                            .caption-container {
                                width: 70%;
                                margin-left: 15%;
                            }
                        }
                        /* Small tablets to big tablets (from 768px to 1023px) */
                        
                        @media only screen and (max-width: 1023px) {
                            /* RUC */
                            html {
                                font-size: 16px;
                            }
                            /* ABOUT US */
                            .box img {
                                height: 145px;
                            }
                            /* PORTFOLIO */
                            .mySlides img {
                                height: 60vh;
                                width: 70%;
                                margin-left: 15%;
                            }
                            .caption-container {
                                width: 70%;
                                margin-left: 15%;
                            }
                        }
                        /* Small phones to small tablets (from 481px to 767px) */
                        
                        @media only screen and (max-width: 767px) {
                            /* RUC */
                            html {
                                font-size: 14px;
                            }
                            h2 {
                                font-size: 150%;
                            }
                            .nov-text-box {
                                width: 75%;
                            }
                            .nov-text-box .welcome {
                                font-weight: 300;
                            }
                            /* MOBILE NAV */
                            .nov-nav {
                                display: flex;
                                justify-content: space-between;
                                position: relative;
                                padding: 0.1% 0;
                                width: 100%;
                                background-color: rgba(114, 14, 27);
                                z-index: 99999999999;
                            }
                            .mobile-icon {
                                display: flex !important;
                                margin-left: 20px;
                                top: 0;
                                left: 0;
                            }
                            .link-icon {
                                display: inline-block !important;
                            }
                            .main-nav {
                                display: block;
                                justify-content: flex-start;
                                padding: 2px 0;
                                width: 100%;
                                background-color: rgba(114, 14, 27);
                                z-index: 99999999999;
                            }
                            .main-nav li {
                                display: none;
                                margin-top: 1px;
                                padding-left: 20px;
                                margin-left: 0;
                                width: 100%;
                                border-top: 0.2px solid #ffd3d902;
                            }
                            .main-nav li a:link,
                            .main-nav li a:visited {
                                display: block;
                                border: 0;
                                padding: 10px 0;
                                font-size: 100%;
                            }
                            .main-nav li a:hover,
                            .main-nav li a:active {
                                background-color: #941425;
                                border-top: 0.5px solid #ffd3d913;
                            }
                            .logo {
                                display: block;
                                position: absolute;
                                border-radius: 35%;
                                top: 15px;
                                right: 10px;
                                z-index: 9999999999;
                            }
                            .sticky {
                                display: none;
                            }
                            /* ABOUT US */
                            .stuff {
                                display: block;
                            }
                            .stuff .box {
                                width: 60%;
                                margin-left: 20%;
                                margin-bottom: 2%;
                            }
                        }
                        /* Small phones (from 0 to 480px)  */
                        
                        @media only screen and (max-width: 480px) {
                            /* RUC */
                            html {
                                font-size: 15px;
                            }
                            h1 {
                                font-size: 200%;
                            }
                            h2 {
                                font-size: 140%;
                            }
                            /* HEADER */
                            header {
                                height: 90vh;
                            }
                            .nov-text-box {
                                padding: 12.2% 0;
                                width: 75%;
                            }
                            .nov-text-box .welcome {
                                font-weight: 300;
                            }
                            /* NAV */
                            .logo {
                                height: 30px;
                            }
                            .main-nav {
                                padding: 0;
                                margin-right: 3rem;
                            }
                            .main-nav li {
                                padding-left: 20px;
                                font-size: 90%;
                                font-weight: 400;
                            }
                            /* ABOUT US */
                            .about-us {
                                width: 70%;
                                margin-left: 15%;
                            }
                            .stuff {
                                display: block;
                            }
                            .stuff .box {
                                width: 70%;
                                margin-left: 15%;
                            }
                            .box img {
                                width: 80%;
                                margin-left: 10%;
                            }
                            /* PORTFOLIO */
                            .portfolio {
                                margin: 15% 0;
                                padding: 10% 0;
                            }
                            .mySlides img {
                                height: 41vh;
                                width: 90%;
                                margin-left: 5%;
                                margin: 5%;
                            }
                            .caption-container {
                                width: 90%;
                                margin-left: 5%;
                            }
                            /* RESERVATION */
                            .reserve-box {
                                display: block;
                            }
                            .r-box {
                                width: 80%;
                                padding: 6% 0;
                                margin: 10%;
                            }
                            .r-icon {
                                font-size: 30px;
                                height: 42px;
                                width: 42px;
                            }
                        }